<%- include('./partials/adminBoilerplate') %>
<title><%=title%></title>
<div class="container">
    <h1>Edit Policy</h1>
    <form action="/update/<%= policy.policy_id %>" method="post">
      <div class="form-group">
        <label for="policy_type">Policy Type:</label>
        <input type="text" class="form-control" id="policy_type" name="policy_type" value="<%=policy.policy_type %>" required>
      </div>
      <div class="form-group">
        <label for="insured_item">Insured Item:</label>
        <input type="text" class="form-control" id="insured_item" name="insured_item" value="<%=policy.insured_item %>" required>
      </div>
      <div class="form-group">
        <label for="coverage_amount">Coverage Amount:</label>
        <input type="number" class="form-control" id="coverage_amount" name="coverage_amount" value="<%= policy.coverage_amount %>" required>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>